.root {
  padding-left: 10px;
  margin-right: 5px;

  min-width: 250px;
  max-width: 250px;

  img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(var(--color-dark-rgb), 0.4);
  }
}
