.button {
  display: flex;
  border-radius: 5px;
  outline: 0;
  border: 0;
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.button svg {
  height: 1.6em;
  width: 1.6em;
}

.button.small {
  font-size: small;
  height: 2em;
}

.button.primary {
  background-color: rgba(var(--color-primary-rgb), 0.4);
  border: 1px solid rgba(var(--color-primary-rgb), 0.8);
  box-shadow: 1px 1px 2px 1px rgba(var(--color-primary-rgb), 0.6);
  color: var(--color-primary-contrast-hex);
}

.button.primary.outline,
.button.primary.link {
  color: rgba(var(--color-primary-rgb), 0.8);
}

.button.secondary {
  background-color: rgba(var(--color-secondary-rgb), 0.4);
  border: 1px solid rgba(var(--color-secondary-rgb), 0.8);
  box-shadow: 1px 1px 2px 1px rgba(var(--color-secondary-rgb), 0.6);
  color: var(--color-secondary-contrast-hex);
}

.button.secondary.outline,
.button.primary.link {
  color: rgba(var(--color-secondary-rgb), 0.8);
}

.button.tertiary {
  background-color: rgba(var(--color-tertiary-rgb), 0.4);
  border: 1px solid rgba(var(--color-tertiary-rgb), 0.8);
  box-shadow: 1px 1px 2px 1px rgba(var(--color-tertiary-rgb), 0.6);
  color: var(--color-tertiary-contrast-hex);
}

.button.tertiary.outline,
.button.tertiary.link {
  color: rgba(var(--color-tertiary-rgb), 0.8);
}

.button.outline {
  border-width: 2px;
}

.button.link {
  border: 0;
  box-shadow: none;
}

.button.outline,
.button.link {
  background-color: transparent;
}

.button.link:hover {
  text-decoration: underline;
}
