@mixin themed-button($theme) {
  background-color: rgba(var(--color-#{$theme}-rgb), 0.5);
  border: 1px solid rgba(var(--color-#{$theme}-rgb), 0.8);
  box-shadow: 1px 1px 0px 0px rgba(var(--color-#{$theme}-rgb), 1);
  color: var(--color-#{$theme}-contrast-hex);

  &.outline,
  &.link {
    color: rgba(var(--color-#{$theme}-rgb), 0.8);
  }

  &:disabled {
    background-color: rgba(var(--color-#{$theme}-rgb), 0.2);
    border: 1px solid rgba(var(--color-#{$theme}-rgb), 0.4);
    box-shadow: 1px 1px 0px 0px rgba(var(--color-#{$theme}-rgb), 0.6);
  }
}

@mixin themed-buttons {
  $themes: primary, secondary, tertiary, success, warning, danger, dark, medium, light;
  @each $theme in $themes {
    &.#{$theme} {
      @include themed-button($theme);
    }
  }
}

.button {
  display: inline-flex;
  border-radius: 5px;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  align-content: center;

  @include themed-buttons();

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
    filter: brightness(1.1);
  }

  svg {
    margin-left: auto;
    margin-right: auto;
    height: 1.6em;
    width: 1.6em;
  }

  &.small {
    font-size: small;
    height: 2em;
  }

  &.link:hover {
    text-decoration: underline;
  }

  &.outline,
  &.link {
    background-color: transparent;
  }

  &.link {
    border: 0;
    box-shadow: none;
  }

  &.outline {
    border-width: 2px;
  }
}
