$section-height: 25px;

.input {
  outline: none;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(var(--color-dark-rgb), 0.5), 0 -1px 1px var(--color-light-hex),
    0 1px 0 var(--color-light-hex);

  &:required + label:after {
    margin-left: 2px;
    content: '*';
    color: var(--color-danger-hex);
    float: left;
  }

  &,
  & + label,
  & + span,
  & + label + span {
    height: $section-height;
    box-sizing: border-box;
    padding: 0 5px;
    display: block;
    width: 100%;
  }

  &[type='checkbox'] + label,
  &:focus + label,
  &:not(:invalid) + label,
  &:not(:placeholder-shown):not([type='date']) + label {
    top: -$section-height * 1.8;
    color: inherit;
    cursor: inherit;
    background-color: transparent;
    font-size: 0.8em;
  }

  & + label {
    color: rgba(var(--color-dark-rgb), 0.5);
    cursor: pointer;
    background-color: white;
  }

  & + label,
  & + span,
  & + label + span {
    position: relative;
    top: -$section-height;
    line-height: $section-height;
  }

  & + label,
  & + span,
  & + label + span {
    user-select: none;
  }

  & + span[role='alert'],
  & + label + span[role='alert'] {
    color: var(--color-danger-hex);
    font-size: 0.8em;
  }
}
