.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  .contentContainer {
    display: flex;
    height: 100%;

    nav {
      flex-grow: 0;
    }

    main {
      flex-grow: 1;
      overflow: hidden;
    }
  }
}
